<div class="container col-sm-12 mt-5">
    <h2 class="text-center">ToDo App</h2>
  
    <div class="input-group mb-3">
      <input 
      *ngIf="!editedId"
        type="text" 
        class="form-control"
        (keydown.enter)="addTask()"
      [(ngModel)]="taskTitle" placeholder="Enter task" />

      <input 
      *ngIf="editedId"
        type="text" 
        class="form-control"
        (keydown.enter)="onUpdate()"
      [(ngModel)]="taskTitle" placeholder="Enter task" />




      <button *ngIf="!editedId" class="btn btn-primary" (click)="addTask()">Add</button>
      <button *ngIf="editedId" class="btn btn-primary" (click)="onUpdate()">Update</button>
    </div>
  
    <ul class="list-group">
      @for (task of tasks; track $index) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
            <span class="me-3">{{$index + 1}}</span>
              <input 
                class="me-2" 
                type="checkbox" 
                [(ngModel)]="task.completed" 
                />
              
              <span [class.text-decoration-line-through]="task.completed">{{task.title}}</span>
              
            </div>
            <div>            
                <span *ngIf="task.completed" class="text-success fs-6">Completed</span>
                <span *ngIf="!task.completed" class="text-danger fs-6">Pending</span>
            </div>
            <div>
              <button class="btn btn-warning btn-sm me-3" (click)="onEdit(task.id)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="onDelete(task.id)">Delete</button>
            </div>
          </li>
      }
    </ul>
  </div>    
  